@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
html {
  scroll-behavior: smooth;
}

/* 清除button標籤自帶樣式 */
button {
  all: unset;
  cursor: pointer;
}

* {
  /*"*"表全域選擇器，改變所有標籤*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*不累加邊框和內距，間距還是會累積*/
}

a {
  display: block;
  text-decoration: none;
  /*a自帶有底線與點擊顏色*/
}

.article-content {
  float: left;
  width: 75%;
}
.article-content h2 {
  font-size: 36px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
.article-content h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 45px;
  background-color: #116530;
  padding-bottom: 20px;
}
.article-content .news-date {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 20px;
}
.article-content .news-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.article-content .news-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 30%;
  height: auto;
}
.article-content .news-article {
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e7e3e3;
}
.article-content .news-article p {
  margin-bottom: 15px;
  line-height: 1.7;
}
.article-content .news-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  height: 100px;
}
.article-content .news-navigation .prev-article,
.article-content .news-navigation .next-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #818080;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 10px;
  margin-right: 10px;
  text-decoration: none;
  white-space: nowrap;
}
.article-content .news-navigation .prev-article:last-child,
.article-content .news-navigation .next-article:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.article-content .news-navigation .prev-article span,
.article-content .news-navigation .next-article span {
  color: #116530;
  max-width: 17ch; /* 設定最多顯示 8 個字元的寬度 */
  overflow: hidden; /* 超出部分隱藏 */
  white-space: nowrap; /* 禁止換行 */
  text-overflow: ellipsis; /* 文字超出時用省略號代替 */
}
.article-content .news-navigation .back-news-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.article-content .news-navigation .back-news-btn-box .back-news-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  color: #000000;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #116530;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
}

@media (max-width: 768px) {
  .sidebar,
  .article-content {
    float: none !important;
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  .news-navigation span {
    display: none;
  }
}/*# sourceMappingURL=article.css.map */