@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
html {
  scroll-behavior: smooth;
}

/* 清除button標籤自帶樣式 */
button {
  all: unset;
  cursor: pointer;
}

* {
  /*"*"表全域選擇器，改變所有標籤*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*不累加邊框和內距，間距還是會累積*/
}

a {
  display: block;
  text-decoration: none;
  /*a自帶有底線與點擊顏色*/
}

.order-confirm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 5% auto;
  margin-top: 40px;
  padding: 5% 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 5px rgba(127, 185, 59, 0.2);
          box-shadow: 0 0 10px 5px rgba(127, 185, 59, 0.2);
}
.order-confirm-container .progress-bar-shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin-bottom: 5%;
}
.order-confirm-container .progress-bar-shopping .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #116530;
  color: #ffffff;
  width: 60px;
  aspect-ratio: 1/1;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  position: relative;
}
.order-confirm-container .progress-bar-shopping .step span {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  color: #116530;
  position: absolute;
  bottom: -30px;
}
.order-confirm-container .progress-bar-shopping .step.inactive span {
  color: #cccccc;
}
.order-confirm-container .progress-bar-shopping .step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -120px;
  width: 120px;
  height: 3px;
  background-color: #cccccc;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.order-confirm-container .progress-bar-shopping .step.step1::after {
  background-color: #116530;
}
.order-confirm-container .progress-bar-shopping .step.inactive {
  background: #cccccc;
}

@media (max-width: 768px) {
  .order-confirm-container {
    width: 95%;
  }
}
.form-section {
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;
}
.form-section h3 {
  color: #116530;
  margin-bottom: 40px;
}
.form-section .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.form-section .form-group label {
  font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
}
.form-section .form-group input {
  font-size: 18px;
}
.form-section .form-group:first-of-type input {
  color: #7fb93b;
}

.form-section.basic-info .form-group label {
  width: 150px;
}
.form-section.basic-info .form-group input {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.radio-group.circle-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.radio-group.circle-checkout label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
}
.radio-group.circle-checkout input {
  margin-right: 5px;
  /* 去除原生樣式 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ffffff; /* 背景顏色（未選中時） */
  border-radius: 50%;
  border: 1px solid #818080; /* 外框 */
  cursor: pointer;
}
.radio-group.circle-checkout input:checked {
  background-color: #ffffff; /* 選中時的背景顏色 */
  border-color: #818080; /* 選中時的外框顏色 */
}
.radio-group.circle-checkout input:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px; /* 選中點的寬度 */
  height: 10px; /* 選中點的高度 */
  background-color: #7fb93b; /* 選中點的顏色 */
  border-radius: 50%;
}

.suggested-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 20px;
}
.suggested-number label {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.suggested-number input {
  background-color: #cccccc;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  outline: none;
  border: 1px solid #e7e3e3;
}

.form-section.recipient input,
.form-section.recipient select,
.form-section.recipient textarea {
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 16px;
}
.form-section.recipient input:focus,
.form-section.recipient select:focus,
.form-section.recipient textarea:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 5px rgba(17, 101, 48, 0.5);
          box-shadow: 0 0 5px rgba(17, 101, 48, 0.5);
  outline: none;
}
.form-section.recipient label {
  width: 150px;
}
.form-section.recipient select {
  border-radius: 5px;
}
.form-section.recipient .form-group.country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.form-section.recipient .form-group.country label {
  margin: 10px 0;
}
.form-section.recipient .form-group.country select {
  width: 100%;
  appearance: none; /* 移除預設的下拉箭頭*/
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-section.recipient .form-group.country::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 68px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #7fb93b; /* 三角形顏色 */
  border-radius: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none; /* 確保點擊不受偽元素影響 */
}
.form-section.recipient .form-group.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.form-section.recipient .form-group.address input {
  border-radius: 5px;
}
.form-section.recipient .form-group.address .address-info-box {
  width: 100%;
}
.form-section.recipient .form-group.address .address-info-box input {
  width: 150px;
  margin-right: 10px;
}
.form-section.recipient .form-group.address .address-input {
  width: 100%;
  margin: 20px 0;
}
.form-section.recipient .form-group.received-info input {
  border-radius: 5px;
}

.form-section.invoice-info .radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.form-section.invoice-info .radio-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
}
.form-section.invoice-info .radio-group input {
  margin-right: 5px;
  /* 去除原生樣式 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ffffff; /* 背景顏色（未選中時） */
  border-radius: 50%;
  border: 1px solid #818080; /* 外框 */
  cursor: pointer;
}
.form-section.invoice-info .radio-group input:checked {
  background-color: #ffffff; /* 選中時的背景顏色 */
  border-color: #818080; /* 選中時的外框顏色 */
}
.form-section.invoice-info .radio-group input:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px; /* 選中點的寬度 */
  height: 10px; /* 選中點的高度 */
  background-color: #7fb93b; /* 選中點的顏色 */
  border-radius: 50%;
}

.form-section.other-notes textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 16px;
}
.form-section.other-notes textarea:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 5px rgba(17, 101, 48, 0.5);
          box-shadow: 0 0 5px rgba(17, 101, 48, 0.5);
  outline: none;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.buttons button {
  background: #116530;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.buttons button:hover {
  background: #116530;
}
.buttons .cancel-btn {
  background: #818080;
}
.buttons .cancel-btn:hover {
  background: #333333;
}

@media (max-width: 768px) {
  .order-confirm-container {
    width: 95%;
  }
  .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=information-confirmed.css.map */