@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
html {
  scroll-behavior: smooth;
}

/* 清除button標籤自帶樣式 */
button {
  all: unset;
  cursor: pointer;
}

* {
  /*"*"表全域選擇器，改變所有標籤*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*不累加邊框和內距，間距還是會累積*/
}

a {
  display: block;
  text-decoration: none;
  /*a自帶有底線與點擊顏色*/
}

.member-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  max-width: 600px;
  margin: 5% auto;
  padding: 2rem;
}
.member-login h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.member-login .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  padding: 2rem;
  margin-bottom: 2rem;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.member-login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.member-login form label {
  margin-bottom: 0.5rem;
}
.member-login form input[type=text],
.member-login form input[type=password],
.member-login form input[type=email] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.member-login form .captcha-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.member-login form .captcha-container .captcha {
  width: 60%;
}
.member-login form .captcha-container img {
  height: 40px;
}
.member-login form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  color: #000000;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #116530;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
  -ms-flex-item-align: center;
      align-self: center;
}
.member-login form button:hover {
  background-color: #7fb93b;
  color: #000000;
}
.member-login form .form-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  text-align: center;
  gap: 1rem;
}
.member-login form .form-options a {
  color: #116530;
  text-decoration: none;
}
.member-login form .form-options a:hover {
  text-decoration: underline;
}
.member-login form .form-options span {
  color: #116530;
  font-weight: bold;
}/*# sourceMappingURL=login.css.map */