@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
html {
  scroll-behavior: smooth;
}

/* 清除button標籤自帶樣式 */
button {
  all: unset;
  cursor: pointer;
}

* {
  /*"*"表全域選擇器，改變所有標籤*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*不累加邊框和內距，間距還是會累積*/
}

a {
  display: block;
  text-decoration: none;
  /*a自帶有底線與點擊顏色*/
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
  # Global Page Titles & Breadcrumbs
  --------------------------------------------------------------*/
.page-title {
  color: #000000;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  text-align: center;
  position: relative;
}
.page-title:before {
  content: "";
  background-color: color-mix(in srgb, #ffffff, transparent 50%);
  position: absolute;
  inset: 0;
}
.page-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}
.page-title .breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.page-title .breadcrumbs ol li + li {
  padding-left: 10px;
}
.page-title .breadcrumbs ol li + li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, #000000, transparent 50%);
}

/*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
section,
.section {
  color: #000000;
  background-color: #ffffff;
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {
  section,
  .section {
    scroll-margin-top: 66px;
  }
}
/*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}
.section-title h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}
.section-title p {
  margin-bottom: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
}

/*--------------------------------------------------------------
  # banner Section
  --------------------------------------------------------------*/
.banner {
  padding: 0;
}
.banner .carousel {
  width: 100%;
  min-height: calc(100vh - 130px);
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  position: relative;
}
.banner img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.banner .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.banner .carousel-item:before {
  content: "";
  background: color-mix(in srgb, #000000, transparent 60%);
  position: absolute;
  inset: 0;
  z-index: 2;
}
.banner .carousel-container {
  position: absolute;
  inset: 90px 64px 64px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}
.banner h2 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  -webkit-animation: fadeInDown 1s both;
          animation: fadeInDown 1s both;
  color: #ffffff;
}
.banner p {
  -webkit-animation: fadeInDown 1s both 0.2s;
          animation: fadeInDown 1s both 0.2s;
  color: #ffffff;
  font-size: 24px;
}
.banner .btn-get-started {
  color: #ffffff;
  background: #116530;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  -webkit-animation: fadeInUp 1s both 0.4s;
          animation: fadeInUp 1s both 0.4s;
}
.banner .btn-get-started:hover {
  background: color-mix(in srgb, #116530, transparent 20%);
}
.banner .carousel-control-prev,
.banner .carousel-control-next {
  width: 10%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}
.banner .carousel-control-prev:focus,
.banner .carousel-control-next:focus {
  opacity: 0.5;
}
.banner .carousel-control-prev:hover,
.banner .carousel-control-next:hover {
  opacity: 0.9;
}
.banner .carousel-control-next-icon,
.banner .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}
.banner .carousel-indicators {
  list-style: none;
}
.banner .carousel-indicators li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .banner h2 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .banner h2,
  .banner p {
    max-width: 60%;
  }
}
@media (min-width: 1024px) {
  .banner .carousel-control-prev,
  .banner .carousel-control-next {
    width: 5%;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
.services .section-title h2 {
  color: #116530;
  font-size: 20px;
}
.services .content .service-item {
  background-color: #ffffff;
  padding: 20px 30px;
  border-top: 1px solid color-mix(in srgb, #000000, transparent 90%);
  border-left: 1px solid color-mix(in srgb, #000000, transparent 90%);
  position: relative;
}
.services .content .service-item .number {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 400;
  color: color-mix(in srgb, #000000, transparent 80%);
}
.services .content .service-item .service-item-icon {
  position: relative;
  margin-bottom: 20px;
  color: #116530;
}
.services .content .service-item .service-item-icon img {
  width: 50px;
}
.services .content .service-item .service-item-icon:before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  left: -20px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #116530;
  display: none;
}
.services .content .service-item .service-item-icon > span {
  color: #000000;
  font-size: 4rem;
}
.services .content .service-item .service-item-content .service-heading {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}
.services .content .service-item .service-item-content p {
  font-size: 15px;
}
.services .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.services .btn-box .btn-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  color: #000000;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: #116530;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
  text-transform: uppercase;
  margin: 5% 0;
}

@media (min-width: 769px) {
  .services .content [class^=col-]:nth-child(4n+4) .service-item {
    border-right: 1px solid color-mix(in srgb, #000000, transparent 90%);
  }
  .services .content [class^=col-]:nth-last-child(-n+4) .service-item {
    border-bottom: 1px solid color-mix(in srgb, #000000, transparent 90%);
  }
}
@media (max-width: 768px) {
  .services .content [class^=col-]:nth-child(2n+2) .service-item {
    border-right: 1px solid color-mix(in srgb, #000000, transparent 90%);
  }
  .services .content [class^=col-]:last-child .service-item, .services .content [class^=col-]:nth-last-child(2) .service-item {
    border-bottom: 1px solid color-mix(in srgb, #000000, transparent 90%);
  }
}
@media (max-width: 576px) {
  .services .content [class^=col-] .service-item {
    border: 1px solid color-mix(in srgb, #000000, transparent 90%);
    margin-bottom: 10px;
  }
}
/*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
.about .section-title {
  margin-bottom: 60px;
}
.about .content {
  background: #116530;
  color: #ffffff;
  padding: 7rem 0;
}
.about .content .img-overlap {
  margin-top: -150px;
}
.about p {
  color: #ffffff;
}
.about .content-title {
  color: #ffffff;
  font-weight: 300;
  text-align: left;
}
.about .content-title strong {
  font-weight: 700;
}
.about .content-subtitle {
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.3rem;
}

/*--------------------------------------------------------------
  # Suggest Section
  --------------------------------------------------------------*/
.suggest {
  overflow: visible;
  margin-bottom: 200px;
  position: relative;
}
.suggest .section-title {
  text-align: left;
}
.suggest .section-title h2 {
  color: color-mix(in srgb, #ffffff, transparent 50%);
  text-transform: uppercase;
  font-size: 20px;
}
.suggest .section-title p {
  color: #ffffff;
}
.suggest .services-carousel-wrap {
  position: relative;
  margin-bottom: -200px;
}
.suggest .swiper-wrapper {
  height: auto;
}
.suggest .service-item {
  position: relative;
  overflow: hidden;
}
.suggest .service-item:before {
  content: "";
  background-color: color-mix(in srgb, #000000, transparent 50%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.suggest .service-item img {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.suggest .service-item .service-item-contents {
  z-index: 9;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
}
.suggest .service-item .service-item-contents .service-item-category {
  color: #116530;
  text-transform: uppercase;
}
.suggest .service-item .service-item-contents .service-item-title {
  color: #ffffff;
  margin-bottom: 0;
}
.suggest .service-item:hover:before {
  opacity: 1;
  visibility: visible;
}
.suggest .service-item:hover .service-item-contents {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.suggest .service-item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.suggest .navigation-prev,
.suggest .navigation-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  width: 46px;
  height: 46px;
  background: #ffffff;
  background-color: none;
  border: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  aspect-ratio: 1/1;
}
.suggest .navigation-prev i,
.suggest .navigation-next i {
  font-size: 2rem;
}
.suggest .navigation-prev:hover,
.suggest .navigation-next:hover {
  background-color: #116530;
  color: #ffffff;
}
.suggest .navigation-prev {
  left: 10px;
}
.suggest .navigation-next {
  right: 10px;
}
.suggest .swiper {
  padding-bottom: 50px;
}
.suggest .swiper-pagination {
  bottom: 0px;
}
.suggest .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 20px;
  height: 4px;
  background-color: #cccccc;
  opacity: 1;
}
.suggest .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #116530 !important;
}

.btn-box.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.btn-box.more .btn-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  color: #000000;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: #116530;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
  text-transform: uppercase;
  margin: 5% 0;
}

/*--------------------------------------------------------------
  # partners Section
  --------------------------------------------------------------*/
.partners {
  background-color: #e7e3e3;
}
.partners .section-title p {
  color: #116530;
  font-size: 24px;
  margin-top: -12px;
}
.partners .partner img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.partners .partner blockquote p {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}
.partners .partner .client-name {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #116530;
}

/*--------------------------------------------------------------
  # Recent Posts Section
  --------------------------------------------------------------*/
.recent-posts .post-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.recent-posts .post-item .post-img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.recent-posts .post-item .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #116530;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 6px 12px;
  font-weight: 500;
}
.recent-posts .post-item .post-content {
  padding: 30px;
}
.recent-posts .post-item .post-title {
  color: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.recent-posts .post-item .meta i {
  font-size: 16px;
  color: #116530;
}
.recent-posts .post-item .meta span {
  font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
}
.recent-posts .post-item hr {
  color: color-mix(in srgb, #000000, transparent 80%);
  margin: 20px 0;
}
.recent-posts .post-item .readmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: color-mix(in srgb, #000000, transparent 40%);
}
.recent-posts .post-item .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: 16px;
}
.recent-posts .post-item:hover .post-title,
.recent-posts .post-item:hover .readmore {
  color: #116530;
}
.recent-posts .post-item:hover .post-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.recent-posts .section-title p {
  color: #116530;
  font-size: 24px;
  margin-top: -12px;
}

/*--------------------------------------------------------------
  # Call To Action Section
  --------------------------------------------------------------*/
.call-to-action .content {
  padding: 20px 0;
}
.call-to-action .content h3 {
  font-weight: 300;
  text-transform: uppercase;
}
.call-to-action .content .form-subscribe .form-control {
  border: 2px solid #116530;
  background: #ffffff;
  border-radius: 0;
}
.call-to-action .content .form-subscribe input[type=email] {
  height: 63px !important;
  color: #000000;
}
.call-to-action .content .form-subscribe input[type=email]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.call-to-action .content .form-subscribe input[type=email]::-webkit-input-placeholder {
  color: color-mix(in srgb, #ffffff, transparent 50%);
}
.call-to-action .content .form-subscribe input[type=email]::-moz-placeholder {
  color: color-mix(in srgb, #ffffff, transparent 50%);
}
.call-to-action .content .form-subscribe input[type=email]:-ms-input-placeholder {
  color: color-mix(in srgb, #ffffff, transparent 50%);
}
.call-to-action .content .form-subscribe input[type=email]::-ms-input-placeholder {
  color: color-mix(in srgb, #ffffff, transparent 50%);
}
.call-to-action .content .form-subscribe input[type=email]::placeholder {
  color: color-mix(in srgb, #ffffff, transparent 50%);
}
.call-to-action .content .loading,
.call-to-action .content .error-message,
.call-to-action .content .sent-message {
  margin-top: 15px;
}
.call-to-action .content .btn {
  color: #ffffff;
  background-color: #116530;
  border: 2px solid #116530;
  border-left: none;
  border-radius: 0;
}
.call-to-action .content .btn:hover, .call-to-action .content .btn:active, .call-to-action .content .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #116530;
  background-color: #ffffff;
  border: 2px solid #116530;
  border-left: none;
}

/*--------------------------------------------------------------
  # Feat Section
  --------------------------------------------------------------*/
.feat .content-title {
  color: #116530;
  margin-bottom: 30px;
}
.feat .btn-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  color: #000000;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: #116530;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
  display: inline-block;
  text-transform: uppercase;
}
.feat .list-check {
  margin-bottom: 50px;
}
.feat .list-check li {
  display: block;
  padding-left: 30px;
  position: relative;
}
.feat .list-check li:before {
  content: "\f26e";
  display: inline-block;
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0.1rem;
  font-size: 20px;
  left: 0;
  color: #116530;
}
.feat .pulsating-play-btn {
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
}

/*--------------------------------------------------------------
  # Team Section
  --------------------------------------------------------------*/
.team .person {
  position: relative;
}
.team .person figure {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.team .person img {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.team .person .person-contents {
  text-align: center;
}
.team .person .person-contents h3 {
  color: "Noto Sans TC", sans-serif;
  font-size: 24px;
}
.team .person .person-contents .position {
  color: #116530;
}
.team .person:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.team .person .social {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}
.team .person .social a {
  display: block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  position: relative;
}
.team .person .social a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.team .person .social a:hover {
  background: #116530;
  color: #ffffff;
}

/*--------------------------------------------------------------
  # Blog Posts 2 Section
  --------------------------------------------------------------*/
.blog-posts-2 article {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 8px;
  overflow: hidden;
}
.blog-posts-2 .post-img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.blog-posts-2 .post-content {
  padding: 30px;
}
.blog-posts-2 .post-title {
  font-size: 20px;
  line-height: 24px;
  color: "Noto Sans TC", sans-serif;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 20px;
}
.blog-posts-2 .meta {
  position: relative;
  margin-top: -20px;
  padding: 0 30px;
}
.blog-posts-2 .meta i {
  font-size: 16px;
  color: #116530;
}
.blog-posts-2 .meta span {
  font-size: 15px;
  color: color-mix(in srgb, #000000, transparent 40%);
}
.blog-posts-2 .meta .post-date {
  background-color: #116530;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 12px;
  text-align: center;
  margin-right: 15px;
  border-radius: 4px;
}
.blog-posts-2 .meta .post-date span {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
.blog-posts-2 .readmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: color-mix(in srgb, "Noto Sans TC", sans-serif, transparent 20%);
}
.blog-posts-2 .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: 16px;
}
.blog-posts-2 article:hover .post-title,
.blog-posts-2 article:hover .readmore {
  color: #116530;
}
.blog-posts-2 article:hover .post-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*--------------------------------------------------------------
  # Blog Pagination Section
  --------------------------------------------------------------*/
.blog-pagination {
  padding-top: 0;
  color: color-mix(in srgb, #000000, transparent 40%);
}
.blog-pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog-pagination li {
  margin: 0 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog-pagination li a {
  color: color-mix(in srgb, #000000, transparent 40%);
  padding: 7px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog-pagination li a.active, .blog-pagination li a:hover {
  background: #116530;
  color: #ffffff;
}
.blog-pagination li a.active a, .blog-pagination li a:hover a {
  color: #ffffff;
}

/*--------------------------------------------------------------
  # Blog Details Section
  --------------------------------------------------------------*/
.blog-details {
  padding-bottom: 30px;
}
.blog-details .article {
  background-color: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog-details .post-img {
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}
.blog-details .title {
  color: "Noto Sans TC", sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin: 30px 0;
}
.blog-details .content {
  margin-top: 20px;
}
.blog-details .content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
.blog-details .content blockquote {
  overflow: hidden;
  background-color: color-mix(in srgb, #000000, transparent 95%);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.blog-details .content blockquote p {
  color: #000000;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
.blog-details .content blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #116530;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-details .meta-top {
  margin-top: 20px;
  color: color-mix(in srgb, #000000, transparent 40%);
}
.blog-details .meta-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
.blog-details .meta-top ul li + li {
  padding-left: 20px;
}
.blog-details .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: color-mix(in srgb, #000000, transparent 40%);
}
.blog-details .meta-top a {
  color: color-mix(in srgb, #000000, transparent 40%);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.blog-details .meta-bottom {
  padding-top: 10px;
  border-top: 1px solid color-mix(in srgb, #000000, transparent 90%);
}
.blog-details .meta-bottom i {
  color: color-mix(in srgb, #000000, transparent 40%);
  display: inline;
}
.blog-details .meta-bottom a {
  color: color-mix(in srgb, #000000, transparent 40%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog-details .meta-bottom a:hover {
  color: #116530;
}
.blog-details .meta-bottom .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}
.blog-details .meta-bottom .cats li {
  display: inline-block;
}
.blog-details .meta-bottom .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}
.blog-details .meta-bottom .tags li {
  display: inline-block;
}
.blog-details .meta-bottom .tags li + li::before {
  padding-right: 6px;
  color: #000000;
  content: ",";
}
.blog-details .meta-bottom .share {
  font-size: 16px;
}
.blog-details .meta-bottom .share i {
  padding-left: 5px;
}

/*--------------------------------------------------------------
  # Blog Comments Section
  --------------------------------------------------------------*/
.blog-comments {
  padding: 10px 0;
}
.blog-comments .comments-count {
  font-weight: bold;
}
.blog-comments .comment {
  margin-top: 30px;
  position: relative;
}
.blog-comments .comment .comment-img {
  margin-right: 14px;
}
.blog-comments .comment .comment-img img {
  width: 60px;
}
.blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}
.blog-comments .comment h5 a {
  font-weight: bold;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog-comments .comment h5 a:hover {
  color: #116530;
}
.blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: color-mix(in srgb, #000000, transparent 20%);
}
.blog-comments .comment h5 .reply i {
  font-size: 20px;
}
.blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: color-mix(in srgb, #000000, transparent 40%);
  margin-bottom: 5px;
}
.blog-comments .comment.comment-reply {
  padding-left: 40px;
}

/*--------------------------------------------------------------
  # Comment Form Section
  --------------------------------------------------------------*/
.comment-form {
  padding-top: 10px;
}
.comment-form form {
  background-color: #ffffff;
  margin-top: 30px;
  padding: 30px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.comment-form form h4 {
  font-weight: bold;
  font-size: 22px;
}
.comment-form form p {
  font-size: 14px;
}
.comment-form form input {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid color-mix(in srgb, #000000, transparent 70%);
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 10px;
}
.comment-form form input:focus {
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #116530;
}
.comment-form form input::-webkit-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form input::-moz-placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form input:-ms-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form input::-ms-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form input::placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form textarea {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid color-mix(in srgb, #000000, transparent 70%);
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
  height: 120px;
}
.comment-form form textarea:focus {
  color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #116530;
  background-color: #ffffff;
}
.comment-form form textarea::-webkit-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form textarea::-moz-placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form textarea:-ms-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form textarea::-ms-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form textarea::placeholder {
  color: color-mix(in srgb, #000000, transparent 50%);
}
.comment-form form .form-group {
  margin-bottom: 25px;
}
.comment-form form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: #116530;
  color: #ffffff;
}
.comment-form form .btn-primary:hover {
  color: #ffffff;
  background-color: color-mix(in srgb, #116530, transparent 20%);
}

/*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
.contact {
  padding-top: 10px;
}
.contact .info {
  background-color: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.contact .info h3 {
  font-weight: 600;
  font-size: 24px;
}
.contact .info p {
  color: color-mix(in srgb, #000000, transparent 40%);
  margin-bottom: 30px;
  font-size: 15px;
}
.contact .info-item + .info-item {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid color-mix(in srgb, #000000, transparent 90%);
}
.contact .info-item i {
  font-size: 24px;
  color: #116530;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
}
.contact .info-item h4 {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: color-mix(in srgb, #000000, transparent 40%);
}
.contact .php-email-form {
  width: 100%;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form input[type=text], .contact .php-email-form input[type=email] {
  color: #000000;
  background-color: #ffffff;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  border-color: color-mix(in srgb, #000000, transparent 80%);
}
.contact .php-email-form textarea {
  color: #000000;
  background-color: #ffffff;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  border-color: color-mix(in srgb, #000000, transparent 80%);
}
.contact .php-email-form input[type=text]:focus, .contact .php-email-form input[type=email]:focus {
  border-color: #116530;
}
.contact .php-email-form textarea:focus {
  border-color: #116530;
}
.contact .php-email-form input[type=text]::-webkit-input-placeholder, .contact .php-email-form input[type=email]::-webkit-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form input[type=text]::-moz-placeholder, .contact .php-email-form input[type=email]::-moz-placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form input[type=text]:-ms-input-placeholder, .contact .php-email-form input[type=email]:-ms-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form input[type=text]::-ms-input-placeholder, .contact .php-email-form input[type=email]::-ms-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form input[type=text]::placeholder, .contact .php-email-form input[type=email]::placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form textarea::-webkit-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form textarea::-moz-placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form textarea:-ms-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form textarea::-ms-input-placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, #000000, transparent 70%);
}
.contact .php-email-form input[type=text], .contact .php-email-form input[type=email] {
  height: 48px;
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
  height: 290px;
}
.contact .php-email-form button[type=submit] {
  background: #116530;
  color: #ffffff;
  border: 0;
  padding: 13px 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, #116530 90%, black 15%);
}

/*--------------------------------------------------------------
  # Widgets
  --------------------------------------------------------------*/
.widgets-container {
  margin: 60px 0 30px 0;
}

.widget-title {
  color: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
  position: relative;
}
.widget-title:before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  background: color-mix(in srgb, #000000, transparent 90%);
  left: 0;
  right: 0;
  bottom: 1px;
}
.widget-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 2px;
  background: #116530;
  left: 0;
  bottom: 1px;
}

.widget-item {
  margin-bottom: 40px;
}
.widget-item:last-child {
  margin-bottom: 0;
}

.recent-posts-widget .post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.recent-posts-widget .post-item:last-child {
  margin-bottom: 0;
}
.recent-posts-widget .post-item img {
  width: 80px;
  margin-right: 15px;
}
.recent-posts-widget .post-item h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.recent-posts-widget .post-item h4 a {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.recent-posts-widget .post-item h4 a:hover {
  color: #116530;
}
.recent-posts-widget .post-item time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: color-mix(in srgb, #000000, transparent 50%);
}

.categories-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categories-widget ul li {
  padding-bottom: 10px;
}
.categories-widget ul li:last-child {
  padding-bottom: 0;
}
.categories-widget ul a {
  color: color-mix(in srgb, #000000, transparent 20%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.categories-widget ul a:hover {
  color: #116530;
}
.categories-widget ul a span {
  padding-left: 5px;
  color: color-mix(in srgb, #000000, transparent 50%);
  font-size: 14px;
}

.blog-author-widget img {
  max-width: 120px;
  margin-right: 20px;
}
.blog-author-widget h4 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0px;
  padding: 0;
  color: color-mix(in srgb, #000000, transparent 20%);
}
.blog-author-widget .social-links {
  margin: 5px 0;
}
.blog-author-widget .social-links a {
  color: color-mix(in srgb, #000000, transparent 60%);
  margin-right: 5px;
  font-size: 18px;
}
.blog-author-widget .social-links a:hover {
  color: #116530;
}
.blog-author-widget p {
  font-style: italic;
  color: color-mix(in srgb, #000000, transparent 30%);
  margin: 10px 0 0 0;
}

.search-widget form {
  background: #ffffff;
  border: 1px solid color-mix(in srgb, #000000, transparent 70%);
  padding: 3px 10px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.search-widget form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
  background-color: #ffffff;
  color: #000000;
}
.search-widget form input[type=text]:focus {
  outline: none;
}
.search-widget form button {
  background: #116530;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}
.search-widget form button i {
  line-height: 0;
}
.search-widget form button:hover {
  background: color-mix(in srgb, #116530, transparent 20%);
}
.search-widget form:is(:focus-within) {
  border-color: #116530;
}

.recent-posts-widget-2 .post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.recent-posts-widget-2 .post-item:last-child {
  margin-bottom: 0;
}
.recent-posts-widget-2 .post-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.recent-posts-widget-2 .post-item h4 a {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.recent-posts-widget-2 .post-item h4 a:hover {
  color: #116530;
}
.recent-posts-widget-2 .post-item time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: color-mix(in srgb, #000000, transparent 50%);
}

.tags-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tags-widget ul li {
  display: inline-block;
}
.tags-widget ul a {
  color: color-mix(in srgb, #000000, transparent 30%);
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid color-mix(in srgb, #000000, transparent 60%);
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tags-widget ul a:hover {
  background: #116530;
  color: #ffffff;
  border: 1px solid #116530;
}
.tags-widget ul a span {
  padding-left: 5px;
  color: color-mix(in srgb, #000000, transparent 60%);
  font-size: 14px;
}

.light-background {
  background-color: #e7e3e3;
}

.dark-background {
  background-color: #060606;
}/*# sourceMappingURL=main.css.map */