// Fonts
$default-font: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Noto Sans TC", sans-serif;
$nav-font: "Noto Sans TC", sans-serif;
$background-color: #ffffff;

// Colors
$default-color: #000000;
$surface-color: #ffffff;

//Theme Color
$accent-color: #116530;
$secondary-color: #7fb93b;
$third-color: #b8dac1;

//Grey Color
$light-grey: #e7e3e3;
$regular-grey: #dfdddd;
$medium-grey: #cccccc;
$deep-grey: #818080;
$dark-grey: #333333;

//Nav Color
$nav-hover-color: #116530;
$nav-mobile-background-color: #ffffff;
$nav-dropdown-background-color: #ffffff;
$nav-dropdown-color: #212529;
$nav-dropdown-hover-color: #116530;

.light-background {
  $background-color: #f9f9f9;
  $surface-color: #ffffff;
}

.dark-background {
  $background-color: #060606;
  $default-color: #ffffff;
  $heading-color: #ffffff;
  $accent-color: #2ea359;
  $surface-color: #252525;
  $contrast-color: #ffffff;
}

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin basic-font {
  font-family: $default-font;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  color: $default-color;
}

@mixin primary-button-a {
  @include flex-center;
  @include basic-font;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: $accent-color;
  color: $surface-color;
}

@mixin pagination-a {
  @include flex-center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  width: 44px;
  height: 44px;
  color: v.$default-color;
  padding: 10px;
  margin: 5px;
  transition: 0.3s ease;
  &.active {
    color: v.$surface-color;
    background-color: v.$accent-color;
  }
}

// Smooth scroll
html {
  scroll-behavior: smooth;
}
