@use "./variables" as v;
@use "./reset";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");

.member-section {
  .application-banner {
    width: 100%;
    height: 150px;
    position: relative;
    img {
      @include v.image-cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .apply-icon {
      width: 80px;
      aspect-ratio: 1/1;
      background-color: v.$surface-color;
      padding: 10px;
      border-radius: 50px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: -40px;
      img {
        @include v.image-cover;
      }
    }
  }
  .consultant-application {
    padding: 4rem 12rem;
    background: v.$surface-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .application-form {
      h3 {
        color: v.$dark-grey;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
      }
      p {
        color: v.$deep-grey;
        font-size: 1rem;
      }
      ul {
        color: v.$deep-grey;
        margin-bottom: 1rem;
        list-style-type: decimal;
        padding-left: 1.5rem;
        li {
          margin-bottom: 0.5rem;
          span {
            color: v.$accent-color;
          }
        }
      }
      .submit-application-btn {
        @include v.primary-button-a;
        margin: 0 auto;
        margin-top: 4rem;
        &:hover {
          background-color: darken(v.$accent-color, 10%);
        }
      }
    }
  }
}
