@use "./variables" as v;
@use "./reset";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");

.order-confirm-container {
  @include v.flex-center;
  flex-direction: column;
  width: 80%;
  margin: 5% auto;
  margin-top: 40px;
  padding: 5% 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(v.$secondary-color, 0.2);
  .progress-bar-shopping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 5%;
    .step {
      @include v.flex-center;
      background: v.$accent-color;
      color: v.$surface-color;
      width: 60px;
      aspect-ratio: 1/1;
      font-family: v.$default-font;
      font-size: 18px;
      font-weight: 700;
      border-radius: 15px;
      position: relative;

      span {
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        color: v.$accent-color;
        position: absolute;
        bottom: -30px;
      }

      &.inactive span {
        color: v.$medium-grey;
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -120px; /* 控制線段的間距 */
        width: 120px; /* 線段的寬度 */
        height: 3px; /* 線段的高度 */
        background-color: v.$medium-grey; /* 線段的顏色 */
        transform: translateY(-50%);
      }

      &.step1::after {
        background-color: v.$accent-color;
      }
    }
    .step.inactive {
      background: v.$medium-grey;
    }
  }
}

@media (max-width: 768px) {
  .order-confirm-container {
    width: 95%;
  }
}

//Order Form

//   .order-confirm-container {
//     // width: 80%;
//     // margin: 0 auto;
//     // margin-top: 40px;
//     // background: #f9f9f9;
//     // padding: 20px;
//     // border-radius: 10px;
//   }

.form-section {
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;

  h3 {
    font-family: v.$default-font;
    color: v.$accent-color;
    margin-bottom: 40px;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    label {
      font-family: v.$default-font;
      font-size: 16px;
    }
    input {
      font-size: 18px;
    }
    &:first-of-type input {
      color: v.$secondary-color;
    }
    // &:nth-of-type(2) input {
    //   font-weight: bold;
    // }
  }
}

.form-section.basic-info {
  .form-group {
    label {
      width: 150px;
    }
    input {
      border: none;
      outline: none;
      box-shadow: none;
      background: transparent;
    }
  }
}

.radio-group.circle-checkout {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  label {
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
  input {
    margin-right: 5px;

    /* 去除原生樣式 */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;

    width: 20px;
    height: 20px;
    background-color: v.$surface-color; /* 背景顏色（未選中時） */
    border-radius: 50%;
    border: 1px solid v.$deep-grey; /* 外框 */
    cursor: pointer;
    &:checked {
      background-color: v.$surface-color; /* 選中時的背景顏色 */
      border-color: v.$deep-grey; /* 選中時的外框顏色 */
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px; /* 選中點的寬度 */
        height: 10px; /* 選中點的高度 */
        background-color: v.$secondary-color; /* 選中點的顏色 */
        border-radius: 50%;
      }
    }
  }
}

// Recipient Section.
.suggested-number {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  label {
    font-family: v.$default-font;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  input {
    background-color: v.$medium-grey;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    outline: none;
    border: 1px solid v.$light-grey;
  }
}

.form-section.recipient {
  input,
  select,
  textarea {
    padding: 10px;
    border: 1px solid v.$medium-grey;
    font-size: 16px;
    &:focus {
      border-color: transparent;
      box-shadow: 0 0 5px rgba(v.$accent-color, 0.5);
      outline: none;
    }
  }
  label {
    width: 150px;
  }
  select {
    border-radius: 5px;
  }
  .form-group {
    &.country {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      label {
        margin: 10px 0;
      }
      select {
        width: 100%;
        appearance: none; /* 移除預設的下拉箭頭*/
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      &::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 68px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid v.$secondary-color; /* 三角形顏色 */
        border-radius: 5px;
        transform: translateY(-50%);
        pointer-events: none; /* 確保點擊不受偽元素影響 */
      }
    }
    &.address {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      input {
        border-radius: 5px;
      }
      .address-info-box {
        width: 100%;
        input {
          width: 150px;
          margin-right: 10px;
        }
      }
      .address-input {
        width: 100%;
        margin: 20px 0;
      }
    }
    &.received-info {
      input {
        border-radius: 5px;
      }
    }
  }
}

//Invoice Information

.form-section.invoice-info {
  .radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 32px;
    }
    input {
      margin-right: 5px;

      /* 去除原生樣式 */
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;

      width: 20px;
      height: 20px;
      background-color: v.$surface-color; /* 背景顏色（未選中時） */
      border-radius: 50%;
      border: 1px solid v.$deep-grey; /* 外框 */
      cursor: pointer;
      &:checked {
        background-color: v.$surface-color; /* 選中時的背景顏色 */
        border-color: v.$deep-grey; /* 選中時的外框顏色 */
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px; /* 選中點的寬度 */
          height: 10px; /* 選中點的高度 */
          background-color: v.$secondary-color; /* 選中點的顏色 */
          border-radius: 50%;
        }
      }
    }
  }
}

//Other Notes
.form-section.other-notes {
  textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid v.$medium-grey;
    font-size: 16px;
    &:focus {
      border-color: transparent;
      box-shadow: 0 0 5px rgba(v.$accent-color, 0.5);
      outline: none;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  button {
    background: #007b3e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: #005a29;
    }
  }
  .cancel-btn {
    background: v.$deep-grey;
    &:hover {
      background: v.$dark-grey;
    }
  }
}

@media (max-width: 768px) {
  .order-confirm-container {
    width: 95%;
  }

  .form-group {
    flex-direction: column;
  }
}
