@use "./variables" as v;
@use "./reset";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");

.container-member-info {
  .sidebar-member {
    width: 250px;
    background: #f1f1f1;
    padding: 1rem;
    border-radius: 5px;
    .sidebar-menu {
      list-style: none;
      li {
        margin-bottom: 1rem;
        a {
          text-decoration: none;
          color: #333;
          &:hover {
            color: #006400;
          }
          &.active {
            font-weight: bold;
            color: #006400;
          }
        }
      }
    }
  }
  .member-section {
    flex: 1;
    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
    .account-details {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 2rem;
      background: #f9f9f9;
      .form-group {
        margin-bottom: 1rem;
        label {
          font-weight: bold;
        }
        span {
          display: block;
          padding-top: 0.3rem;
        }
      }
    }
  }
}
