@use "./variables" as v;
@use "./reset";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");

.news-container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  min-height: 100vh;
  .sidebar {
    float: left;
    width: 20%;
    margin-right: 5%;
    ul {
      list-style: none;
      padding: 0;
      overflow: hidden;
      li {
        font-family: v.$default-font;
        font-size: 16px;
        padding: 15px;
        border-bottom: 1px solid v.$regular-grey;
        cursor: pointer;
        transition: 0.35s ease-in-out;
        &.active {
          background: rgba($color: v.$secondary-color, $alpha: 0.1);
          color: v.$accent-color;
          border-bottom: 1px solid transparent;
        }
      }
    }
  }

  .news-content {
    float: left;
    width: 75%;
    h2 {
      font-family: v.$default-font;
      color: v.$accent-color;
      font-size: 24px;
      margin-bottom: 30px;
    }

    .news-table-container {
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      padding: 100px 20px 20px;
      position: relative;
      .table-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 80px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #007b3e;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        td,
        a {
          font-family: v.$default-font;
        }
        td {
          a:hover {
            color: v.$default-color;
          }
        }
        thead {
          background: v.$third-color;
          color: v.$default-color;
          th {
            font-family: v.$default-font;
            font-size: 18px;
            &:first-child {
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
            }
            &:last-child {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }
        }
        .news-item {
          border-bottom: 1px solid v.$regular-grey;
          &:last-child {
            border-bottom: 1px solid transparent;
          }
        }
        th,
        td {
          padding: 15px;
          text-align: left;
          width: 85%;
        }
      }
    }
  }
}

.pagination-news {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  a {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #007b3e;
    cursor: pointer;
    &.active {
      background: #007b3e;
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .sidebar,
  .news-content {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
