@use "./variables" as v;
@use "./reset";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");


//   main

main.container-product {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  width: 80%;

  .sidebar {
    width: 25%;
    ul {
      list-style: none;
      padding: 0;
      li {
        font-family: v.$default-font;
        border-bottom: 1px solid v.$regular-grey;
        padding: 20px;
        a {
          text-decoration: none;
          color: v.$default-color;
          transition: color 0.35s ease;
          &:hover {
            color: v.$accent-color;
          }
        }
      }
    }
    .active {
      background-color: v.$light-grey;
      a {
        font-weight: bold;
        color: v.$accent-color;
      }
    }
  }

  @media (max-width: 1440px) {
    .sidebar {
      margin: 0 auto;
    }
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      li {
        @include v.flex-center;
      }
    }
  }

  .products {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
    h2 {
      font-size: 24px;
      margin-bottom: 50px;
    }
    .product-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      justify-content: center;
      margin: 0 auto;
      .product-card {
        @include v.flex-center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 100px;
      }
    }

    @media (max-width: 1400px) {
      .product-grid {
        width: 100%;
      }
    }
    @media (max-width: 1180px) {
      .product-grid {
        grid-template-columns: repeat(auto-fit, 250px);
        .product-card {
          margin-bottom: 50px;
        }
      }
    }

    @media (max-width: 768px) {
      .product-grid {
        flex-direction: column;
        .product-card {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 430px) {
      .product-grid {
        @include v.flex-center;
        flex-direction: column;
        .product-card {
          margin-bottom: 0;
        }
      }
    }

    .product-image {
      @include v.flex-center;
      width: 250px;
      height: 200px;
      background:   #808080;
      margin-bottom: 10px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .placeholder-image {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .product-info {
      position: relative;
      width: 250px;
      padding: 0 10px;
      p {
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0;
        color: v.$accent-color;
      }

      span {
        display: block;
        margin-bottom: 10px;
        color: v.$deep-grey;
      }

      .add-to-cart {
        color: v.$deep-grey;
        position: absolute;
        right: 0;
        bottom: 0;
        border: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          color: v.$accent-color;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    a {
      @include v.flex-center;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      width: 44px;
      height: 44px;
      color: v.$default-color;
      padding: 10px;
      margin: 5px;
      transition: 0.3s ease;
      &.active {
        color: v.$surface-color;
        background-color: v.$accent-color;
      }
    }
  }
}

@media (max-width: 1440px) {
  main.container-product {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main.container-product {
    flex-direction: column;

    .products {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
  }
}
